---
import { ViewTransitions } from 'astro:transitions';
import '../styles/index.css';
import Banner from "../components/Banner.astro";

interface NavItemData {
  planetName: string,
  planetPageLink: string
}
interface Props {
  title: string,
  language: string,
  description: string,
  keywords: string,
  selectedPlanetName: string,
  planetNavData: NavItemData[]
}
const {
  title,
  language,
  description,
  keywords,
  selectedPlanetName,
  planetNavData
} = Astro.props;
---
<!doctype html>
<html lang={language}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
    <meta name="author" content="Renaud Lapoële" />
    <meta name="keywords" content={keywords} />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/png" href="/fm-planet-facts/icons/favicon-32x32.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}{description}</title>
    <ViewTransitions/>
	</head>
	<body class="bg-primary text-primary-contrast bg-img-starfield">
    <Banner selectedPlanetName={selectedPlanetName} planetNavData={planetNavData}/>
    <main role="main" class="px-1.5 md:px-2.5 md:max-w-69.375 lg:px-0 md:mx-auto mb-3">
      <slot />
    </main>
	</body>
</html>

